body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}