*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(226, 128, 128);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border: 1px solid white;
    min-width: 60vh;
    min-height: 70vh;
}
.input{
    width: 80%;
    height: 100%;
    border: 1px solid blue;
    padding: 3rem;
   

}
.container{
    display: flex;
    align-items: center;
    gap: 6rem;
}
